// Style Button :
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btn {
  z-index: 1;
  padding: 10px;
  background-color: #cad3ae;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
